[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
graphene-sqlalchemy-auto = "*"
flask = "*"
flask-sqlalchemy = "*"
graphene = "*"
graphene-sqlalchemy = "*"
flask-graphql = "*"

[requires]
python_version = "3.7"
