[[source]]
name = "pypi"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
graphene-sqlalchemy = ""
graphene-sqlalchemy-auto = "*"
fastapi = "*"
hypercorn = "*"
starlette = "*"
uvicorn = "*"

[requires]
python_version = "3.9"
